In [1]:
import requests
k = requests.get('http://www.onlyinyourstate.com/minnesota/incredible-facts-mn/')

In [2]:
print(k.text[:400])

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" dir="ltr" lang="en-US">
	<head profile="http://gmpg.org/xfn/11">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes">
		<link rel="icon" type="image/png" href="http://cdn.onlyinyourstate.com/wp-cont

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(k.text, 'html.parser')

In [11]:
mnFacts = soup.find_all('figcaption')

In [12]:
len(mnFacts)

14

***Hmmm, only supposed to have 13 facts, but it's a buzz-feed-esque article that puts another photo and caption for emphasis, not an additional fact... Nothing that I can see in the html to distinguish it from the others.

In [13]:
mnFacts[0]

In [14]:
mnFacts[0].text

"1. There are 69,200 miles of rivers and streams in Minnesota. That's enough to circle the equator 2 3/4 times!"

In [15]:
table = []
for i in mnFacts:
    mnFact = i.text
    table.append(mnFact)

In [16]:
len(table)

14

In [19]:
table

["1. There are 69,200 miles of rivers and streams in Minnesota. That's enough to circle the equator 2 3/4 times!",
 '2. Minnesota produces more turkeys each year than there are people in California.',
 "3. Minnesota has one recreational boat per every six people; that's 909,528 boats, more than the population of South Dakota (and North Dakota).",
 '4. Minnesota has over 3 times more white-tailed deer than college students.',
 '5. 3 million cows live in MN.  More cows than there are people in 20 different states.',
 '6. The Mall of America in Bloomington is big enough to hold 32 Boeing 747 airplanes.',
 'Yes, these.',
 "7. MN stocks its waters with 256,259,500 fish on average per year. That's enough to give 4 out of 5 people in the US a fish.",
 "8. Minnesota harvests 18,900,000 lbs of fish per year; that's enough to fill the beds of 10,384 Ford F-150 Pickups.",
 '9. In 2015, the MN State Fair logged 1,779,738 visitors, enough to fill the new Vikings stadium more than 24 times!',
 '10. In 2014, MN produced 1.18 billion bushels of corn, the weight of over 90 Empire State Buildings.',
 "11. Minnesota's craft breweries sell enough beer annually to pay for the entire state to stream Netflix for over 2 years!",
 '12. The Minnesota Department of Natural Resources manages 3,134,900 acres of land - nearly twice the size of Delaware.',
 '13. MN has 13,136,357 acres of total surface water,  more area than all the land in Hawaii and New Jersey combined.']

In [20]:
import pandas as pd
df = pd.DataFrame(table, columns=['MN Facts'])

In [30]:
df

                                             MN Facts
0   1. There are 69,200 miles of rivers and stream...
1   2. Minnesota produces more turkeys each year t...
2   3. Minnesota has one recreational boat per eve...
3   4. Minnesota has over 3 times more white-taile...
4   5. 3 million cows live in MN.  More cows than ...
5   6. The Mall of America in Bloomington is big e...
6                                         Yes, these.
7   7. MN stocks its waters with 256,259,500 fish ...
8   8. Minnesota harvests 18,900,000 lbs of fish p...
9   9. In 2015, the MN State Fair logged 1,779,738...
10  10. In 2014, MN produced 1.18 billion bushels ...
11  11. Minnesota's craft breweries sell enough be...
12  12. The Minnesota Department of Natural Resour...
13  13. MN has 13,136,357 acres of total surface w...

In [33]:
df.drop(6)

                                             MN Facts
0   1. There are 69,200 miles of rivers and stream...
1   2. Minnesota produces more turkeys each year t...
2   3. Minnesota has one recreational boat per eve...
3   4. Minnesota has over 3 times more white-taile...
4   5. 3 million cows live in MN.  More cows than ...
5   6. The Mall of America in Bloomington is big e...
7   7. MN stocks its waters with 256,259,500 fish ...
8   8. Minnesota harvests 18,900,000 lbs of fish p...
9   9. In 2015, the MN State Fair logged 1,779,738...
10  10. In 2014, MN produced 1.18 billion bushels ...
11  11. Minnesota's craft breweries sell enough be...
12  12. The Minnesota Department of Natural Resour...
13  13. MN has 13,136,357 acres of total surface w...